@import './scss/base';
@import './scss/mixins';
@import './scss/typography';
@import './scss/vars';
@import './scss/reset';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $gap;
	padding: $padding;
	height: 100%;
	font-family: $base-font, 'sans-serif';

	&__title {
		font-size: $base-font;
		line-height: 42px;
		text-transform: uppercase;
		text-align: center;
	}
}

[class^='block-'] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: $gap;

	@include query(tablet) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

[class^='box-'] {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: (100%)/4; // 33.33% each
	background-color: #c1c1c1;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

.popup {
	display: none;
	flex-wrap: wrap;
	width: 620px;
	height: 425px;
	background-color: #fff;
	padding: 30px 20px 30px 30px;
	&__form {
		display: flex;
		flex-direction: column;
		order: 1;
		img {
			width: 331px;
			height: 205px;
			border: 1px solid black;
			margin-bottom: 30px;
		}

		form {
			display: flex;
			flex-direction: column;
		}

		form > input {
			background: #ffffff;
			border: 1px solid #cccccc;
			box-sizing: border-box;
			width: 332px;
			height: 30px;
			border-radius: 3px;
			margin-bottom: 20px;
			padding-left: 10px;
		}
		.form__btn {
			height: 30px;
			background-color: #4997d0;
			color: #fff;
			border: none;
			border-radius: 3px;
			cursor: pointer;
			transition: all 0.2s;
			max-width: 332px;
		}

		.form__btn:hover {
			background-color: #49d060;
		}
	}

	&__btn--close {
		width: 50px;
		height: 50px;
		border: none;
		background-color: transparent;
		font-size: 30px;
		cursor: pointer;
		align-items: start;
		position: absolute;
		right: 21px;
		top: 21px;
	}
	
	@include query(tablet) {
		justify-content: space-between;
		flex-direction: column;
		text-align: left;
		width: 331px;
		padding: 0;
		height: auto;
		border: 1px solid black;

		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			order: 1;

			img {
				width: 320px;
				height: 205px;
				border: 1px solid black;
				border: none;
			}

			form > input {
				width: 276px;
				height: 30px;
			}
		}
		.popup__img {
			object-fit: cover;
			margin-bottom: 0;
		}

		&__btn--close {
			order: -1;
			position: absolute;
			right: 0;
		}
	}

	&__img {
		width: 331px;
		height: 205px;
		object-fit: cover;
		margin-bottom: 30px;
	}

	&__comment {
		display: flex;
		flex-direction: column;
		margin: 25px;
		height: auto;
		.comment__item {
			display: flex;
			flex-direction: column;
			font-size: 13px;
			line-height: 15px;
		}

		.comment__item-time {
			color: #999999;
			margin-bottom: 5px;
		}
	}
	.form__btn {
		margin-bottom: 55px;
	}
}
