@import './scss/base';
@import './scss/mixins';
@import './scss/typography';
@import './scss/vars';

.container {
  position: relative;
	display: flex;
	flex-direction: column;
	gap: $gap;
	padding: $padding;
	height: 100%;
  font-family: $base-font, 'sans-serif';

	&__title {
    font-size: $base-font;
    line-height: 42px;
    text-transform: uppercase;
	}
}

[class^='block-'] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: $gap;

	@include query(tablet) {
		flex-direction: column;
		height: 100%;
	}
}

[class^='box-'] {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: (100%)/4; // 33.33% each
	border: 2px solid black;
	border-radius: 10px;
	background-color: #c1c1c1;
}


.wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.popup {
  // ПОМЕНЯЙ НА NONE
  display: none; 
  justify-content: space-between;
  flex-direction: row;
  width: 800px;
  height: 500px;
  background-color: #fff;
  border: 1px solid black;
  padding: 30px;
  &__form {
    display: flex;
    flex-direction: column;
    img {
      width: 350px;
      height: 255px;
      border: 1px solid black;
      object-fit: cover;
      margin-bottom: 30px;
    }
  

    form {
      display: flex;
      flex-direction: column;
    }

    form > input {
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      height: 30px;
      border-radius: 3px;
      margin-bottom: 20px;
    }
    .form__btn {
      height: 30px;
      background-color:#4997D0;
      color: #fff;
      border: none;
      border-radius: 3px;
    }
    
  }

  &__comment {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    .comment__item {
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
  }

  &__btn--close {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
  }
}  